{% extends 'layout.html' %}
{% block body %}
<h3>hakkımda</h3>
<hr>
Kâğıthane semtindeki çadırlara, 3 ay sonra Maçka kışlasına, ingilizlerin buraya da elkoyması üzerine, Beylerbeyi sarayı yanındaki ek binalara taşındı.

Cumhuriyetten sonra eski binasına dönen lise, önce sivil olarak öğretime devam etti. 1924’te Kuleli Askerî lisesi adını aldı.

İkinci Dünya savaşı sırasında seferberlik planlarına uyarak, Konya’ya taşınan Kuleli lisesinin binalarında 1 000 yataklı bir askerî hastahane kuruldu.

Savaş bitince okul tekrar eski binalarına geçti (1947). Kuleli Askerî lisesine ortaokulu bitirenler, sağlık durumları elverişli olmak şartıyla, sınavla alınır. Liseyi bitirenler Kara Harp okuluna girerler.

Cumhurbaşkanı Cemal Gürsel ve Cevdet Sunay, mareşal Fevzi Çakmak ve orgeneral Kâzım Karabekir, Kuleli Askerî lisesinde okumuşlardır.
<hr>

{% endblock %}